#menu-menu2 >li>a{
    
    white-space: normal; 
     width: 180px;
     height: 74px; 
        font-weight: bold;
        font-size: 14px;   
 } 
 #menu-menu2>li:first-child{
    border-radius: 20px 0px 0px 0px; 
 }
 #menu-menu2>li:last-child{
    border-radius: 0px 20px 0px 0px; 
 }